<?xml version="1.0" encoding="UTF-8" ?>     
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">     
<log4j:configuration>     
     
 <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">     
  <layout class="org.apache.log4j.PatternLayout">     
   <param name="ConversionPattern"     
    value="%d - %c -%-4r [%t] %-5p %x - %m%n" />     
  </layout>     
       
  <!--限制输出级别-->     
  <filter class="org.apache.log4j.varia.LevelRangeFilter">     
   <param name="LevelMax" value="ERROR"/>     
   <param name="LevelMin" value="TRACE"/>     
  </filter>     
 </appender>     
      
 <appender name="FILE" class="org.apache.log4j.FileAppender">     
  <param name="File" value="/home/pykj/other/log/log4j.log"/>     
  <layout class="org.apache.log4j.PatternLayout">     
   <param name="ConversionPattern"     
    value="%d - %c -%-4r [%t] %-5p %x - %m%n" />     
  </layout>     
 </appender>      
  <!--    
 <appender name="DATABASE" class="org.apache.log4j.jdbc.JDBCAppender">     
  <param name="URL" value="jdbc:oracle:thin:@192.168.0.59:1521:oanet"/>     
  <param name="driver" value="oracle.jdbc.driver.OracleDriver"/>     
  <param name="user" value="hdczoa"/>     
  <param name="password" value="system"/>         
  <layout class="org.apache.log4j.PatternLayout">     
   <param name="ConversionPattern"     
    value="INSERT INTO hdczoa.LOG4J(stamp,thread, info_level,class,message) VALUES ('%d', '%t', '%p', '%c', %m)" />     
  </layout>     
 </appender>     
       -->     
 <!--通过<logger></logger>的定义可以将各个包中的类日志输出到不同的日志文件中-->     
 <logger name="com.litt2.log4j" additivity="false">        
     <level value="WARN" />        
     <appender-ref ref="CONSOLE" />        
 </logger>     
     
 <!--通过<category></category>的定义可以将各个包中的类日志输出到不同的日志文件中-->     
 <category name="com.litt3">        
    <level value="INFO" />      
    <appender-ref ref="CONSOLE" />     
  </category>     
      
 <root>     
  <priority value="INFO" />     
  <appender-ref ref="CONSOLE" />     
  <appender-ref ref="FILE" />     
 </root>     
     
     
</log4j:configuration>  